<div class="flex">
    <div class="commandeType">
        <app-commande-type></app-commande-type>
    </div>
    <div class="recherche">
        <table>
            <tr>
                <td>
                    <app-filtre></app-filtre>
                </td>
            </tr>
            <tr>
                <td>
                    <app-resultat></app-resultat>
                </td>
            </tr>
        </table>
    </div>
    <div class="panier">
        <app-panier></app-panier>
    </div>
</div>

