.flex{
    display:flex;
    justify-content: space-between;
    vertical-align: center;
    padding: 2%;
}
.commandeType{
    border: 1px solid black;
    min-height: 80vh;
    width: 15vw;
}
.recherche{
    border: 1px dotted black;
    min-height:  80vh;
    width: 50vw;
}
.panier{
    border: 1px solid black;
    min-height:  80vh;
    width: 15vw;
}

/*
@media screen and (min-width: 800px){

}*/