.collum {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  vertical-align: center;
  align-items: center;
  padding: 2%;
}

.logo {
  min-height: 15vh;
  min-width: 40vw;
  margin-bottom: 2vw;
}
